.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

main {
    height: 100vh;
}

main > div {
    height: 100%;
    position: relative;
}

#video-container {
    width: 640px;
}

#video {
    height: 480px;
}

#recorded-video {
    width: 100%;
}

#front, #back {
    width: 100%;
}

#face {
    width: 175px;
}